<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meine Taverne</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/addreservation">Reservieren</a></li>
                <li><a href="/reservationlist">Reservationsliste</a></li>
                <li><a href="/Foodback">Foodback</a></li>
                <li>Kontakt</li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <blockquote>
                Unser Kontaktdaten
                <p>Familie Schrank</p>
                <p>Hohliebeweg 17</p>
                <p>3715 Adelboden</p>
                <footer><i>Wir freuen uns auf Sie</i></footer>
            </blockquote>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>Restaurant Hohliebestübli Adelboden: https://www.hohliebestuebli.ch</small>
        </p>
    </footer>
</body>
</html>