<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meine Taverne</title>
    <link rel="stylesheet" href="/css/mvp.css">
    <link rel="stylesheet" href="/css/cookiePopup.css">
</head>
<body>
<div id="cookiePopup" class="hide">
    <p>
        Our website uses cookies to provide your browsing experience and
        relevant information. Before continuing to use our website, you agree &
        accept of our <a href="/datenschutzerklärung.html">Cookie Policy & Privacy.</a>
    </p>
    <button id="acceptCookie">Accept</button>
</div>
<!-- Script -->
<script src="/js/cookiePopup.js"></script>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li><a href="/addreservation">Reservieren</a></li>
                <li><a href="/reservationlist">Reservationsliste</a></li>
                <li><a href="/Foodback">Foodback</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <blockquote>
                Uuups
                <p>Die Seite wurde nicht gefunden.</p>
                <p>HTTP 404</p>
            </blockquote>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>Restaurant Hohliebestübli Adelboden: https://www.hohliebestuebli.ch</small>
            <small><a href="/datenschutzerklärung.html" target="_blank">Datenschutzerklärung</a></small>
        </p>
    </footer>
</body>
</html>