<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meine Taverne</title>
    <link rel="stylesheet" href="/css/mvp.css">
    <link rel="stylesheet" href="/css/cookiePopup.css">
</head>
<body>
<div id="cookiePopup" class="hide">
    <p>
        Our website uses cookies to provide your browsing experience and
        relevant information. Before continuing to use our website, you agree &
        accept of our <a href="/datenschutzerklärung.html">Cookie Policy & Privacy.</a>
    </p>
    <button id="acceptCookie">Accept</button>
</div>
<!-- Script -->
<script src="/js/cookiePopup.js"></script>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li><a href="/addreservation">Reservieren</a></li>
                <li><a href="/reservationlist">Reservationsliste</a></li>
                <li><a href="/Foodback">Foodback</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <header>
                <h1>Willkommen in unserem Restaurant</h1>
                <figure>
                    <img src="images/restaurant.jpg" width="800" alt="Das Restaurant Hohliebe">
                    <figcaption>Im Winter wohlig eingelullt.</figcaption>
                </figure>
                <p>Wir freuen uns, Sie als Gäste begrüssen zu dürfen.</p>
            </header>
            <aside>
                <h3>Vorspeise</h3>
                <figure>
                    <img src="images/essen1.jpg" width="400" alt="Vorspeise">
                    <figcaption>Creme de Creme.</figcaption>
                </figure>
            </aside>
            <aside>
                <h3>Hauptgang</h3>
                <figure>
                    <img src="images/essen2.jpg" width="400" alt="Hauptspeise">
                    <figcaption>regional</figcaption>
                </figure>
            </aside>
            <aside>
                <h3>Dessert</h3>
                <figure>
                    <img src="/images/essen3.jpg" width="400" alt="Dessert">
                    <figcaption>Allerlei</figcaption>
                </figure>
            </aside>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>Restaurant Hohliebestübli Adelboden: https://www.hohliebestuebli.ch</small>
            <small><a href="/datenschutzerklärung.html" target="_blank">Datenschutzerklärung</a></small>
        </p>
    </footer>
</body>
</html>